<div class='movie-card__img-wrapper'>
  {{#if poster_path}}
    <img class='movie-item__poster--modal js-img' 
    src='https://image.tmdb.org/t/p/w500{{poster_path}}' 
    alt='{{title}}' 
    loading='lazy' />
    {{else}}
    <img class='movie-item__poster--modal js-img'
    src='https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg'
    alt=' {{title}}'
    loading='lazy' />
    {{/if}}
</div>

<div class='movie-card-modal__info-box'>
  <h3 class='movie-card-modal__title'>{{title}}</h3>

  {{!-- <div class='movie-stats'> --}}
       <div class="movie-card-modal__wrapper">
            <p class="movie-card-modal__wrapper-category">Vote / Votes</p>
            <p class="movie-card-modal__wrapper-value"><span class="movie-card-modal__wrapper-value--orange">{{vote_average}}</span> / <span class="movie-card-modal__wrapper-value--grey">{{vote_count}}</span></p>
        </div>
        <div class="movie-card-modal__wrapper">
            <p class="movie-card-modal__wrapper-category">Popularity</p>
            <p class="movie-card-modal__wrapper-value">{{popularity}}</p>
        </div>
        <div class="movie-card-modal__wrapper">
            <p class="movie-card-modal__wrapper-category">Original Title</p>
            <p class="movie-card-modal__wrapper-value">{{original_title}}</p>
        </div>
        <div class="movie-card-modal__wrapper">
            <p class="movie-card-modal__wrapper-category">Genre</p>
            <p class="movie-card-modal__wrapper-value card-modal__wrapper-value--size">{{genre_ids}}</p>
        </div>

<div class="movie-about">
      <p class='movie-about__title'>About</p>
      <p class='movie-about__info'>{{overview}}</p>
</div>

{{!-- </div> --}}
</div>

       